<form id="categorized_step2_form" class="form-horizontal" >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="candidate_category">Select category:</label>
            <select multiple chosen class="chosen-select form-control"
                    data-placeholder="Category"
                    ng-model="current_resume.selectedCategories"
                    ng-change="updateCandidateCategory()"
                    ng-options="category as category.sub_category_name group by category.category_name for category in categoriesFilterDefaults track by category.sub_category_id">

            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin:15px 0px 0px;">
                <div id="selected_category_panel" class="panel-body">

                    <table ng-show="candidate_to_categorize.getCategorizationEntries().length > 0" class="table table-condensed selected_category" style="margin:0px;">
                        <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Show</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="(key, entry) in candidate_to_categorize.categorizationEntries">
                            <td>{{entry.getSubCategory().getName()}}</td>
                            <td>
                                <select style="width: 100%;" chosen
                                        class="chosen-select form-control"
                                        data-placeholder="Show"
                                        ng-model="candidate_to_categorize.categorizationEntries[key].shownOnASL"
                                        ng-value="candidate_to_categorize.categorizationEntries[key].shownOnASL"
                                        ng-options="status.is_shown as status.name for status in yesNoShowASL">
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="candidate_to_categorize.getCategorizationEntries().length <= 0" class="alert alert-danger" style="margin:0px;">
                        <h5 class="text-center">There's no selected category</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
            <a ng-click="close_modal()" type="button" class="btn btn-sm btn-danger" data-dismiss="modal" style="margin: 20px 0px 0px;"><i class="fa fa-times"></i> Close</a>
            <a ng-click="proceedToStep3(candidate_to_categorize)" name="categorize_step_2_save_changes" id="categorize_step_2_save_changes" type="submit" class="btn btn-sm btn-primary" style="margin:20px 0px 0px;"><i class="fa fa-share"></i> Proceed to Step 3</a>
        </div>
    </div>